/*Style sheet for index.html, porfolio.html, and contact.html*/
* {
	box-sizing:border-box;


}
body {
    color: #777777;
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
    margin: 0 auto;
    background-image: url(../images/grey_sandbag.png);

}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

header {
    position: fixed;
    z-index:99;
    width: 100%;
    margin: 0 0 30px;
    background: #ffffff;
    border-bottom: 5px solid #cccccc;
    overflow: auto;

}

h1 {
    float: left;
    width: 300px;
    height: 90px;
    line-height: 90px;
    background: #4aaaa5;
    color: #ffffff;
    font-family: "Georgia", Times, "Times New Roman", serif;
    text-align: center;
    margin-top:0px;
    margin-bottom: 0px;


}

h2, h3 {
	color: #4aaaa5;
    border-bottom: 2px solid #dddddd;
    font-family: "Georgia", Times, "Times New Roman", serif;
    margin-top: 0px;
    padding-bottom: 10px;
}

nav {
    float:right;
    margin-top: 25px;
}

nav a {
    display: inline-block;
    padding: 20px;
    color: #777777;
    border-left:1px solid #efefef;;
}

nav a:first-child {
  border-left: 0 none;
}

nav a:hover{
	background-color:#dddddd;
}

a {
	text-decoration: none;
}

.mainContent {
    overflow: auto;
    width:100%;
    max-width: 960px;
    margin: 0 auto;
    padding-top:130px;


}

.container:after, .mainContent:after{ 
    clear:both;
	content:"";
	display:block;
} 

footer, .mainContent:after{ 
	padding: 20px; 
} 

footer {
    background: #666666;
    color: #ffffff;
    border-top: 5px solid #4aaaa5;
    text-align: center;
    margin-top: 100px;
	position: relative;
	width:100%;
    bottom: 0px;
    left:0px;
    font-size:14px;
}

.connect {
    float:right;
    width:100%;
	max-width: 270px;
    padding: 20px;
    margin-bottom: 20px;
    background: #ffffff;
    border: 2px solid #dddddd;
    text-align: center;
}

.social {
	width: 50px;
    margin: 0px 5px 0px 5px;
}

.social:hover {
	border: 3px solid #cccccc;
}

/*Styles for Index page*/
.info {
    float:left;
    width:100%;
    max-width: 650px;
    padding: 20px;
    margin:0 0 40px;
    background: #ffffff;
    border: 2px solid #dddddd;
    overflow: auto;
    line-height: 1.5;
}

#marissa {
    width: 200px;
    float: left;
    margin: 0px 10px;
}

/* Styles for Portfolio Page*/

.portfolioLinks {
	width: 650px;
    padding: 20px;
    background: #ffffff;
    border: 2px solid #dddddd;
    overflow: auto;
    float: left;
}

.portfolioLinks img {
	width: 275px;
    margin: 10px
}

.wrapper1 , .wrapper2, .wrapper3, .wrapper4, .wrapper5 {
	position:relative;

}

.wrapper1, .wrapper3, .wrapper5 {
	float:left;
}

.wrapper2, .wrapper4{
	float:right;
}

.portfolioLinks h2 {
    background: #4aaaa5;
    color: #ffffff;
    font-family: "Georgia", Times, "Times New Roman", serif;
    border: none;
    text-align: center;
    padding: 10px 5px;
    z-index: 5;
    font-size: 20px;
    width: 275px;
    margin: 10px;
    position: absolute;
    bottom: 10px;
}

.wrapper1:hover h2, .wrapper2:hover h2, .wrapper3:hover h2, .wrapper4:hover h2, .wrapper5:hover h2{
	font-size:24px;
}




/*Styles for Contact Page*/


.contact {
	width: 650px;
    padding: 20px;
    background: #ffffff;
    border: 2px solid #dddddd;
    overflow: auto;
    float: left;
}

#inputName, #inputEmail, #inputMessage {
	width:100%;
	font-style:italic;
	color:#777777;
}


#inputMessage {
	height: 250px;
}

.submit {
	background: #4aaaa5;
    color: #ffffff;
    padding:10px;
}

/* Media Queries */

@media screen and (max-width: 980px) {
    .container, .mainContent {
        margin:auto;
        max-width:740px;

    }

/*Index Page Media Query*/
    .info {
        max-width:420px;
    }
    #marissa {
        float:none;
        display:block;
        text-align:center;
        margin: 0 auto;
    }

    .wrapper1, .wrapper2, .wrapper3, .wrapper4, .wrapper5 {
        float: none;
        display: block;
        text-align: center
    }

    .portfolioLinks {
        max-width: 420px;
        margin: auto
    }

    .portfolioLinks h2 {
        left:40px;
    }

    .contact {
         max-width:420px;       
    }

}

@media screen and (max-width: 768px) {
    .container, .mainContent {
        max-width:700px;
        margin-bottom: 40px;
        float:none;
        margin:auto;

    }

/*Index Page Media Query*/
    .info{
        max-width: 700px;

    }

    #marissa {
        float:left;
        margin: 0px 10px
    }

    .connect{
        max-width:700px;
        margin: auto;

    }

    .wrapper1, .wrapper3, .wrapper5 {
        float: left;
    }

    .wrapper2, .wrapper4 {
        float: right;
    }

    .portfolioLinks {
        max-width: 700px;
        width: 100%;
    }

    .portfolioLinks h2 {
        left:0px;
    }

    .contact {
        max-width: 700px;
        width: 100%;
        margin-bottom: 40px;
    }

}

@media screen and (max-width: 640px) {
    .mainContent {
        max-width:550px;
        margin-bottom: 40px;
        padding-top:0px;
        float:none;
        margin:0 auto;

    }

    h1 {
        width:100%;
    }

    nav {
    margin-top: 0;
    float: none;
    width: 100:;
    text-align: center;
    }

    nav a {
        width:32%;
    }

    header {
        position:static;
    }

    .info{
        max-width: 570px;
        margin: auto;
        margin-bottom: 40px;
        margin-top: 0px;
        float: none;
        width: 100%;
        padding-top:0px;

    }

    #marissa {
        float:none;
        display:block;
        text-align:center;
        margin: 0 auto;
    }

    .connect{
        max-width: 570px;
        float: none;
        width: 100%;
        margin-top: 40px;
    }

    .portfolioLinks{
        max-width: 570px;
        float: none;
        margin-top: 0px
    }

    .wrapper1, .wrapper2, .wrapper3, .wrapper4, .wrapper5 {
        float: none;
        display: block;
        text-align: center
    }

    .portfolioLinks h2 {
        left: 105px
    }

    .contact {
        max-width: 570px;
        width: 100%;
        float: none;
        margin: 0px auto;
        padding-top: 0px;
    }
}
}